header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#headerLogo {
    width: 74px;
    height: 57px;
}

.header {
    display: flex;
    justify-content: space-around;
}
.header .headerContent {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Didact gothic";
    color: #3F0101;
    font-weight: 900;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

nav > ul {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav > ul > li {
    position: relative;
    margin-left: 20px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #3F0101;
    font-weight: 600;
    font-size: 1.25rem;
}

nav > ul > li > a:hover {
    color: #865A5A;
    margin-bottom: 4px;
    border-bottom: 2px solid #865A5A;
}

nav > ul > li > ul {
    position: absolute;
    top: calc(100% + 5px); /* Adjusted position to be below the parent menu item */
    left: 0;
    display: none;
    padding: 0px 0;
    min-width: 30%;
    transform: scale(0.80);
    transform-origin: top left;
    z-index: 1;
    text-align: left;
}

nav > ul > li > ul > li {
    margin: 0;
    padding: 5px 10px; /* Adjust vertical padding */
    display: inline-block;
    white-space: nowrap;
    font-weight: normal;
}

.submenu-open {
    display: block !important;
  
}



@media (max-width: 768px) {
  

    nav > ul > li > a {
        font-size: 1.5rem;
    }
   
    #headerLogo {
        width: 70px;
        height: auto;
    }
    
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    flex-direction: column;
   
}
 /* header{
    background-color: #e0dada;
}  */
    nav > ul {
        display: block;
        text-align: center;
        line-height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 5px 10px;
    }
    .header .headerContent {
        padding-left: 0;
        font-size: 1.3rem;
    }
    nav > ul > li > a {
        font-size: 0.9rem; /* Adjust font size for very small screens */
    }

    nav > ul {
        flex-direction: column;
        width: 100%;
    }

    nav > ul > li {
        margin: 8px 0; /* Slightly tighter spacing */
    }
}
