footer ul li a{
    list-style: none;
    color: #3F0101;
    text-decoration: none;
    font-weight: 600; 
}
footer {
    color: #3F0101; 
    background-color: #fff; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
footer ul li {
    display: inline-block; 
    margin-right: 20px; 
}
footer ul li Link {
    color: #3F0101;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}
footer ul li a:hover {
    color: #865A5A;
}