footer ul li a{
    list-style: none;
    color: #3F0101;
    text-decoration: none;
    font-weight: 600; 
}
footer {
    color: #3F0101; /* Dark red text color */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}
footer ul li {
    display: inline-block; /* Display items in a line */
    margin-right: 20px; /* Add margin between items */
}
footer ul li Link {
    color: #3F0101; /* Dark red text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition for color change */
    font-weight: bold; /* Bold font for footer menu items */
}
footer ul li a:hover {
    color: #865A5A; /* Darker red color on hover */
}