.container {
    padding: 20px;
}

.header {
    font-size: 2rem;
    color: #865A5A;
    margin-bottom: 20px;
}

.details {
    font-size: 1rem;
    color: #333;
}

.details p {
    margin-bottom: 10px;
}

.details a {
    color: #865A5A;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}